*{
margin: 0;
padding: 0;
}
a{
    list-style: none;
}
ul{
text-decoration: none;
}
/* ____________________________________________INTRO-SECTION_________________________________________________ */

.container{
    display: block;
    margin: 0 auto;
    width: 88%;

}
.intro-section-text{
    width: 281px;
    height: 87px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #464646;
    font-family: "Ubuntu";
    font-weight: 400;
}
.intro-section-text__bottom{
    width: 281px;
    height: 87px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #464646;
    font-family: "Ubuntu";
    font-weight: 400;
    margin-top: 55px;
}
.intro-section-text::before{
    content: "“";
    display: block;
    color: #eaaf3e;
    width: 20px;
    height: 15px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 55px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.intro-section-photo{
width: 100%;
height: auto;
display: block;
}
.image-container{
   overflow: hidden;
    height: 320px;
}
.intro-section_container{
    background-color: #7550de;
    width: 100%;
    height: 230px;
    display: block;
    text-align: center;
    margin-top: 52px;
    border-radius: 9px;
    margin-bottom: 50px;
}
.intro-section_container-text{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Ubuntu";
    font-weight: 400;
    padding-top: 30px;
    margin-left: 24px;
    margin-right: 24px;
}
.intro-section_container-text::before{
    content: "";
    display: block;
    background-color: #e9ac38;
    width: 60px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 18px;
}
/* _______________________________________________TABLET___________________________________________________________ */
@media(min-width: 768px){
   .container{
       width: 81%;
   }
    .intro-section-text::before{
        font-size: 90px;
       margin-left: -48px;
       padding-bottom: 11px;
    }
    .intro-section-text{
        width: 627px;
        font-size: 18px;
        line-height: 25px;
        color: #444444;
        font-family: "Ubuntu";
        font-weight: 400;  
        margin-top: 41px;    
    }
.intro-section-text__bottom{
       width: 627px;
    font-size: 18px;
        line-height: 25px;
        color: #444444;
        font-family: "Ubuntu";
        font-weight: 400;

}
.intro-section-photo{
    height: auto;
}
.image-container{
    border-radius: 5px;
    width: 100%;
}
.intro-section_container{
    width: 100%;
    border-radius: 3px;
    height: 181px;
    margin-bottom: 79px;
}
.intro-section_container-text{
font-size: 20px;
letter-spacing: 1px;
line-height: 28px;
color: #ffffff;
margin-left: 77px;
margin-bottom: 45px;
margin-right: 100px;
margin-top: 49px;
width: 493px;
text-align: left;
}
.intro-section_container-text::before{
width: 2px;
height: 100px;
position: absolute;
display: inline-block;
vertical-align: center;
margin-left: -24px;
margin-top: 8px;
}
}
/* ________________________________________________________________________________DESKTOP_______________________________________________________________________________ */
@media(min-width: 1200px){
.container{
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
    .text-box{
order: 2;
width: 39%;
margin-left: 120px;
}
    .intro-section-text{
        width: 100%;
font-size: 20px;
letter-spacing: 1px;
line-height: 35px;
color: #444444;
font-family: "Ubuntu";
font-weight: 400;
height: min-content;
}
.intro-section-text__bottom{
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 35px;
    color: #444444;
    font-family: "Ubuntu";
    font-weight: 400;
   margin-top: 40px;
}
.image-container{
width: 49%;
height: 400px;
order: 1;

}
.intro-section_container{
    order: 3;
   
   
}
.intro-section_container-text{
width: 80%;
font-size: 25px;
letter-spacing: 1px;
line-height: 35px;
color: #ffffff;
margin-top: 5px;
}
.upper-container{
    display: flex;
    flex-direction: row;
    align-items: middle;
    margin-top: 6%;
}






}
